         .proizvod-container {
             display: flex;
             width: 200px;
             height: 300px;
             background-color: #F2F2F2;
             margin: 10px 0 10px 50px;
         }
         
         .proizvodi-layer {
             flex-wrap: wrap;
             display: flex;
             flex-direction: row;
             padding: 0 0 0 150px;
             justify-content: center;
             align-items: center;
         }
         
         .img-boje {
             display: flex;
             margin: auto;
             width: 180px;
             height: 104px;
         }
         
         @media only screen and (max-width: 500px) {
             .proizvodi-layer {
                 padding: 0 0 0 140px;
             }
             .proizvod-container {
                 margin: 10px 0;
             }
         }